<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search in...</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
</head>
<body>
<div id="searchBox">
    <div id="cseSelector">
        <label for="engineSelect">Search<br /></label>
        <select id="engineSelect" v-model="selectedEngineId" v-on:change="loadCse">
            <option disabled value="">Search...</option>
            <option v-for="(se, index) in searchEngines" v-bind:value="se.id">
                {{ se.name }}
            </option>
        </select>
    </div>
    <div>{{ selectedEngine.description }}</div>
    <div>
        <form v-on:submit.prevent="submitSearch">
            <input type="search" aria-label="Search the selected websites" v-model="query">
        </form>
    </div>
</div>
<div id="gcseRoot"></div>
<script>
    const SEARCH_ENGINES_CONFIG = ['websites.json'];

    new Vue({
        el: '#searchBox',
        data: {
            searchEngines: [],
            selectedEngineId: '',
            selectedEngine: {},
            query: ''
        },
        methods: {
            loadCse: function (event) {
                if (!this.selectedEngineId) {
                    return alert('You forgot to pick the search engine');
                }
                this.selectedEngine = this.searchEngines[this.searchEngines.findIndex(engine =>
                    (engine.id === this.selectedEngineId)
                )];
                this.replaceHistoryState();

                // Create the element the Google CSE script will work in
                let gcseRoot = document.getElementById('gcseRoot');

                // Remove the CSE-related elements
                gcseRoot.innerHTML = '';

                // Add templates for the CSE script
                let gcseSearchresults = document.createElement('div');
                gcseSearchresults.className = 'gcse-searchresults-only';
                gcseRoot.appendChild(gcseSearchresults);

                // Add the new Google CSE script
                let gcseScript = document.createElement('script');
                gcseScript.async = true;
                gcseScript.src =
                    'https://cse.google.com/cse.js?cx=' +
                    this.selectedEngine.googleCseCreatorId +
                    ':' +
                    this.selectedEngine.googleCseId;
                gcseRoot.appendChild(gcseScript);
            },
            submitSearch: function (event) {
                this.replaceHistoryState();
                this.loadCse();
            },
            replaceHistoryState: function () {
                let parameters = [];
                if (this.selectedEngineId) {
                    parameters.push('e=' + encodeURIComponent(this.selectedEngineId));
                }
                if (this.query) {
                    parameters.push('q=' + encodeURIComponent(this.query))
                }
                window.history.replaceState(
                    null,
                    null,
                    (parameters.length === 0) ? '' : '?' + parameters.join('&')
                );
            }
        },
        mounted() {
            Promise.all(SEARCH_ENGINES_CONFIG.map(
                filename => fetch(filename)
                    .then(response => (response.status === 200) ? response.json() : [])
                    .then(content => content)
            )).then(searchEngines => {
                this.searchEngines = [].concat(...searchEngines);
                const queryParameters = new URLSearchParams(window.location.search);

                const requestedEngine = queryParameters.get('e');
                if (requestedEngine) {
                    this.selectedEngineId = decodeURIComponent(requestedEngine);
                }
                const requestedQuery = queryParameters.get('q');
                if (requestedQuery) {
                    this.query = decodeURIComponent(requestedQuery);
                }
                this.replaceHistoryState();

                if (this.selectedEngineId && this.query) {
                    this.loadCse();
                    this.submitSearch();
                } else if (this.selectedEngineId) {
                    this.loadCse();
                }
            });
        }
    });
</script>
</body>
</html>