<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search in...</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
</head>
<body>
<div id="searchBox">
    <div id="cseSelector">
        <select v-model="selected" v-on:change="loadCse">
            <option disabled value="">Search...</option>
            <option v-for="(se, index) in searchEngines" v-bind:value="index">
                {{ se.name }}
            </option>
        </select>
    </div>
    <div id="cseDescription"></div>
    <div id="gcse"></div>
</div>
<script>
    const SEARCH_ENGINES_FILES = ['websites.json'];

    new Vue({
        el: '#searchBox',
        data: {
            selected: '',
            searchEngines: []
        },
        methods: {
            loadCse: function (event) {
                const cseScriptId = 'googleCseScript';
                const selectedEngine = this.searchEngines[this.selected];

                // Remove the current script, if exists
                let currentScript = document.getElementById(cseScriptId);
                if (currentScript) {
                    currentScript.parentNode.removeChild(currentScript);
                }
                // Clear the CSE-related elements
                let gcseRoot = document.getElementById('gcse');
                gcseRoot.innerHTML = '';

                // Add new elements
                let gcseDescription = document.createElement('div');
                gcseDescription.innerHTML = selectedEngine.description;
                gcseRoot.appendChild(gcseDescription);

                let gcseSearchbox = document.createElement('div');
                gcseSearchbox.className = 'gcse-searchbox';
                gcseRoot.appendChild(gcseSearchbox);

                let gcseSearchresults = document.createElement('div');
                gcseSearchresults.className = 'gcse-searchresults';
                gcseRoot.appendChild(gcseSearchresults);

                // Add a new script
                let cseScript = document.createElement('script');
                cseScript.async = true;
                cseScript.id = cseScriptId;
                cseScript.src =
                    'https://cse.google.com/cse.js?cx=' +
                    selectedEngine.googleCseCreatorId +
                    ':' +
                    selectedEngine.googleCseId;
                document.head.appendChild(cseScript);
            }
        },
        mounted() {
            Promise.all(SEARCH_ENGINES_FILES.map(
                filename => fetch(filename)
                    .then(response => (response.status === 200) ? response.json() : [])
                    .then(content => content)
            )).then(searchEngines => (this.searchEngines = [].concat(...searchEngines)));
        }
    });
</script>
</body>
</html>