<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search in...</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
</head>
<body>
<div id="searchBox">
    <label>Search in
        <select v-model="selected" v-on:change="loadCse">
            <option disabled value="">...</option>
            <option v-for="wl in websiteLists" v-bind:value="wl.googleCseCreatorId + ':' + wl.googleCseId">
                {{ wl.name }}
            </option>
        </select>
    </label>
    <div id="gcse"></div>
</div>
<script>
    const WEBSITES_METADATA = ['websites.json'];

    new Vue({
        el: '#searchBox',
        data: {
            selected: '',
            websiteLists: []
        },
        methods: {
            loadCse: function (event) {
                const CSE_SCRIPT_ID = 'googleCseScript';

                // Remove the current script, if exists
                let currentScript = document.getElementById(CSE_SCRIPT_ID);
                if (currentScript) {
                    currentScript.parentNode.removeChild(currentScript);
                }
                // Clear the CSE-related elements
                let gcseRoot = document.getElementById('gcse');
                gcseRoot.innerHTML = '';

                // Add new elements
                let gcseSearchbox = document.createElement('div');
                gcseSearchbox.className = 'gcse-searchbox';
                gcseRoot.appendChild(gcseSearchbox);

                let gcseSearchresults = document.createElement('div');
                gcseSearchresults.className = 'gcse-searchresults';
                gcseRoot.appendChild(gcseSearchresults);

                // Add a new script
                let cseScript = document.createElement('script');
                cseScript.async = true;
                cseScript.id = CSE_SCRIPT_ID;
                cseScript.src = 'https://cse.google.com/cse.js?cx=' + this.selected;
                document.head.appendChild(cseScript);
            }
        },
        mounted() {
            Promise.all(WEBSITES_METADATA.map(
                filename => fetch(filename)
                    .then(response => (response.status === 200) ? response.json() : [])
                    .then(content => content)
            )).then(websites => (this.websiteLists = [].concat(...websites)));
        }
    });
</script>
</body>
</html>